:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
  font-family: sans-serif, optima;
  overflow-x: hidden;
}










/*<----------     Home Page     ---------->*/
.home-header {
  background-color: rgb(113, 255, 170);
  height: 5rem;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  position: absolute;
  width: 100vw;
}

.home-title {
  cursor: pointer;
  font-family: sans-serif, optima;
  font-size: 3rem;
  margin-left: 5rem;
  margin-top: 0.7rem;
  width: 17rem;
}

.home-logo {
  cursor: pointer;
  height: 3.5rem;
  left: 1rem;
  position: absolute;
  top: 0.5rem;
}

.cart-bttn {
  background-color: #e1ecf4;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 2.5rem;
  position: absolute;
  right: 4rem;
  top: 1rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 2.5rem;
}

.cart-bttn:hover,
.cart-bttn:focus {
  background-color: #b3d3ea;
}

.cart-bttn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.cart-bttn:active {
  background-color: #a0c7e4;
  box-shadow: none;
}

.cart-bttn-img {
  transform: translateX(-0.2rem) translateY(0.1rem);
  width: 2rem;
}

.hamburger-menu {
  background-color: #e1ecf4;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 2.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 2.5rem;
}

.hamburger-menu:hover,
.hamburger-menu:focus {
  background-color: #b3d3ea;
}

.hamburger-menu:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.hamburger-menu:active {
  background-color: #a0c7e4;
  box-shadow: none;
}

.hamburger-menu-img {
  transform: translateX(-0.1rem);
  width: 1.7rem;
}

.fruits-title {
  margin-top: -4rem;
  position: absolute;
}

.fruits-container {
  column-gap: 2vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  margin-left: 6.5vw;
  margin-top: 13rem;
  position: absolute;
  row-gap: 1.5vw;
  width: 100vw;
}

.veggies-title {
  margin-top: -4rem;
  position: absolute;
}

.veggies-container {
  column-gap: 2vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  margin-left: 6.5vw;
  margin-top: 65rem;
  position: absolute;
  row-gap: 1.5vw;
  width: 100vw;
}

.food-card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  font-family: sans-serif, optima;
  height: 17.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  transition: all 300ms;
}

.food-img {
  background-color: white;
  height: 11rem;
}

.product-name {
  font-size: 1.5rem;
}

.product-price {
  margin-left: 1rem;
  margin-top: 0;
  position: absolute;
}

.add-to-cart-bttn {
  align-items: center;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  height: 2rem;
  margin-right: -11rem;
  padding: 6px 14px;
  position: aboslute;
  touch-action: manipulation;
  transform: translateY(-0.5rem);
  user-select: none;
  -webkit-user-select: none;
  width: 5rem;
}

.add-to-cart-bttn:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.home-footer {
  background-color: rgb(113, 255, 170);
  height: 10rem;
  margin-top: 90rem;
  margin-left: -0.5rem;
  position: absolute;
  width: 100vw;
}
